<!DOCTYPE html>
<html>
<head>
   
  <title></title>

</head> 
<body class="" >

<div class="full-height row col-xs-12 white-text center-xs no-margin">
<div class="col-xs-10 col-sm-11">
    <div class="box">

    	<h3>Llenado de datos</h3>
        <div class="big-padding-llenar-datos-user signin-background  white-text bordeRedondo">
        	<h3>Texto</h3>
          <h2 class= "no-margin bold white-text">Admin Log In</h2>
          <p class= "no-margin white-text">Faurecia Students</p>
            <div class="top-space ">

            </div>
        </div>
    </div>
</div>
</div>





	<h1>Main#home</h1>
<p>Find me in app/views/main/home.html.erb</p>
<p>YEAAHH!!!!</p>

<% if user_signed_in? %>
	<%= link_to "exit_to_app" , destroy_user_session_path, method: :delete%> 
<% end %>

<% if current_user.phone.blank? %>
    <h3> NO tiene telefono registrado </h3>
<% end %>


</body>
</html>