<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      You have received a notification
    </p>
    <p>Thanks for joining and have a great day!</p>


    <%= link_to  "evaluacion" ,new_evaluation_hiring_manager_url(userid: 1) %>

  </body>
</html>