%body.white-background

= render "partials/noticeToast"

= $global_questions

.row.center-xs
  .col-xs-12
    .box
      .col.s12
        .row
          .div.input-field.col.s12#pregunta
            %div.blue-text.card-panel
              %p.center-align.pregunta_texto
                = @random_question.pregunta


          .div.input-field.col.s12
            =form_tag "/game/responder", id:"botonRespuesta" , method: :get, remote: true do


              =text_field_tag :respuesta_seleccionada, nil, class:"ocultar" , id:"q1", value:@random_question.respuesta1 

              =text_field_tag :idPregunta, nil,class:"ocultar", value: @random_question.id

              =button_tag @random_question.respuesta1 , class: 'waves-effect waves-light btn buttonBuscador' , type: :submit




          .div.input-field.col.s12
            =form_tag "/game/responder", id:"botonRespuesta" ,method: :get, remote: true do

              =text_field_tag :respuesta_seleccionada, nil, class:"ocultar", value:@random_question.respuesta2 

              =text_field_tag :idPregunta, nil,class:"ocultar", value: @random_question.id

              =button_tag @random_question.respuesta2 , class: 'waves-effect waves-light btn buttonBuscador' , type: :submit




          .div.input-field.col.s12
            =form_tag "/game/responder", id:"botonRespuesta" ,method: :get, remote: true do

              =text_field_tag :respuesta_seleccionada, nil, class:"ocultar", value:@random_question.respuesta3 

              =text_field_tag :idPregunta, nil,class:"ocultar", value: @random_question.id

              =button_tag @random_question.respuesta3 , class: 'waves-effect waves-light btn buttonBuscador' , type: :submit



          .div.input-field.col.s12
            =form_tag "/game/responder", id:"botonRespuesta" , method: :get, remote: true do

              =text_field_tag :respuesta_seleccionada, nil, class:"ocultar", value:@random_question.respuesta4 

              =text_field_tag :idPregunta, nil,class:"ocultar", value: @random_question.id

              =button_tag @random_question.respuesta4 , class: 'waves-effect waves-light btn buttonBuscador' , type: :submit


          .row.center-xs
            = render "partials/preloader"

          .div.input-field.col.s12
            %p.text-center.mensaje_pregunta_texto#mensaje


          .div.input-field.col.s12#siguiente.ocultar

            =form_tag "/game/siguinte_pregunta", method: :get do

              =button_tag "siguiente" , class: 'waves-effect waves-light btn blue' , type: :submit

%div#mensaje








