<!DOCTYPE html>
<html>
<head>

  <title></title>

</head> 
<body class=" main-background" >

<div class="full-height row middle-xs white-text center-xs no-margin">
<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
    <div class="box">
        <div class="big-padding signin-background white-text bordeRedondo">
          <h2 class= "no-margin bold white-text">Admin</h2>
          <p class= "no-margin white-text">Register</p>
            <div class="top-space ">
              <%= render "devise/registrations/newAdmin" %>
            </div>
        </div>
    </div>
</div>
</div>



</body>
</html>
