
  <div id="modalAvisoPrivasidad" class="modal">
    <div class="modal-content">
      <h4>Aviso de privacidad</h4>
      <p>SERVICIOS CORPORATIVOS DE PERSONAL ESPECIALIZADO S.A. DE C.V.; EXHAUST SERVICES MEXICANA S.A. DE C.V.; ET HOLDINGS II S. DE R.L. DE C.V. Y FAURECIA SISTEMAS AUTOMOTRICES DE MÉXICO, S.A. DE C.V. (en lo sucesivo “Faurecia”)  con domicilio en 4to Retorno Osa Menor #2 Int. 41, Colonia Reserva Territorial Atlixcayotl, San Andrés Cholula, Puebla, México. CP 72810, es responsable de su información personal. Para conocer el tratamiento, así como los procedimientos y requisitos para ejercer sus derechos ARCO, revocar su consentimiento o limitar el uso de su información personal, revise nuestro aviso de privacidad integral en www.mifaurecia.com.mx</p>
    </div>
    <div class="modal-footer">
      <a  class="modal-action modal-close waves-effect waves-green btn-flat">De acuerdo</a>
    </div>
  </div>