%body.white-background

%h4.text-center Notificaciones

= link_to "marcar todas las notificaciones como vistas", view_all_notifications_path ,class:"underline" 

%ul.collection#notifications
	=render_notifications @notifications

%div#pagination.text-center
	= will_paginate @notifications

