<!DOCTYPE html>
<html>
<head>
   
  <title></title>

</head> 
<body class=" main-background" >

<div class="full-height row middle-xs white-text center-xs no-margin">
<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
    <div class="box">
        <div class="big-padding signin-background  white-text bordeRedondo">
          <h2 class= "no-margin bold white-text">Log in</h2>
          <p class= "no-margin white-text">Faurecia Students</p>
            <div class="top-space ">
              <%= render "devise/sessions/login" %>
              <%= render "devise/shared/links" %> 
              <%= link_to "AdminLogin", adminLogin_path  %> 
            </div>
    <!--    <%= link_to "Crear cuenta", new_user_registration_path%>  -->
        </div>
    </div>
</div>
</div>



</body>
</html>