%body.white-background

%h4.text-center Editando Usuario


= render "partials/modalAvisoPrivasidad"

= render 'form'





:javascript
    $(document).ready(function() {
    $("#modalAvisoPrivasidad").openModal();
    });


