$colors:(

	red: #FC4349,
	pink: #E4004F,
	blue: #2C3350,
	grey: #D7DADB,
	dark-grey: #666,
	light-blue: #6DBCDB,
	white:#fff,
	indigo:#2F33AC,
	black:#000,
	indianRed:#CD5C5C,
	coolBlue: #2196F3


);

@each $color_name, $color in $colors {

	.#{$color-name}{
		background-color: $color;
	}

	.#{$color-name}-text {
		color: $color;
	}
}



@import "materialize/components/color";
$primary-color: color("indigo", "darken-1") !default;
$secondary-color: color("pink", "base") !default;
@import 'materialize';